In [1]:

import pandas as pd
import numpy as np

#import data set
Distributordata = pd.read_csv('/kaggle/input/distributer/Distributor Outlet Mapping.csv')
Salesdata = pd.read_csv('/kaggle/input/salesdata/Sales.csv')

In [2]:
#view Distribution data set
print(Distributordata.head())

   distributor_id      outlet_id
0  distributor_24  outlet_code_1
1  distributor_24  outlet_code_2
2  distributor_24  outlet_code_3
3   distributor_3  outlet_code_4
4  distributor_21  outlet_code_5

In [3]:
#view Distribution data set
print(Salesdata.head())

        outlet_id  transaction_time expected_rainfall         freezer_status  \
0  outlet_code_78  2023-01-05 12:41              25mm    freezers available
1  outlet_code_78  2023-01-12 13:05               0mm    freezers available
2  outlet_code_78   2023-01-17 9:32              79mm    freezers available
3  outlet_code_78  2023-01-27 14:21          194.51mm    freezers available
4  outlet_code_78  2023-01-31 16:24              15mm    freezers available

             sku_name  sales_quantity
0  Sweet Delights Mix               3
1  Sweet Delights Mix               3
2  Sweet Delights Mix               3
3  Sweet Delights Mix               2
4  Sweet Delights Mix               3

In [4]:
#merge data set distribution and sales
Distributor_Sales = pd.merge(Distributordata, Salesdata, on='outlet_id', how='inner')

In [5]:
#view our new data frame
print(Distributor_Sales.head())

   distributor_id      outlet_id  transaction_time expected_rainfall  \
0  distributor_24  outlet_code_1  2023-01-06 10:51              60mm
1  distributor_24  outlet_code_1  2023-01-12 15:14               6mm
2  distributor_24  outlet_code_1  2023-01-16 16:25              82mm
3  distributor_24  outlet_code_1   2023-01-24 8:55          172.53mm
4  distributor_24  outlet_code_1   2023-02-04 9:53              59mm

         freezer_status           sku_name  sales_quantity
0   freezers available   Fruit Chewy Bites               4
1   freezers available   Fruit Chewy Bites               5
2   freezers available   Fruit Chewy Bites               5
3   freezers available   Fruit Chewy Bites               7
4   freezers available   Fruit Chewy Bites               5

In [6]:
Distributor_Sales.shape

(371036, 7)

In [7]:

#droping any duplicate rows
Distributor_Sales.drop_duplicates(inplace=True)

In [8]:
#cheking null value for every column
Distributor_Sales.isna().sum()

distributor_id       0
outlet_id            0
transaction_time     0
expected_rainfall    0
freezer_status       0
sku_name             0
sales_quantity       0
dtype: int64

In [9]:
#view data types of columns
Distributor_Sales.dtypes

distributor_id       object
outlet_id            object
transaction_time     object
expected_rainfall    object
freezer_status       object
sku_name             object
sales_quantity        int64
dtype: object

In [10]:
#change data type to float
Distributor_Sales['expected_rainfall'] = Distributor_Sales['expected_rainfall'].str.extract(r'(\d+)').astype(float)

In [11]:
#change type for date
Distributor_Sales['transaction_time'] = pd.to_datetime(Distributor_Sales['transaction_time'])
Distributor_Sales['Date'] = Distributor_Sales['transaction_time'].dt.date
Distributor_Sales['Time'] = Distributor_Sales['transaction_time'].dt.time

In [12]:
#view data types
Distributor_Sales.dtypes

distributor_id               object
outlet_id                    object
transaction_time     datetime64[ns]
expected_rainfall           float64
freezer_status               object
sku_name                     object
sales_quantity                int64
Date                         object
Time                         object
dtype: object

In [13]:
#view data set
Distributor_Sales.head()

,distributor_id,outlet_id,transaction_time,expected_rainfall,freezer_status,sku_name,sales_quantity,Date,Time
0,distributor_24,outlet_code_1,2023-01-06 10:51:00,60.0,freezers available,Fruit Chewy Bites,4,2023-01-06,10:51:00
1,distributor_24,outlet_code_1,2023-01-12 15:14:00,6.0,freezers available,Fruit Chewy Bites,5,2023-01-12,15:14:00
2,distributor_24,outlet_code_1,2023-01-16 16:25:00,82.0,freezers available,Fruit Chewy Bites,5,2023-01-16,16:25:00
3,distributor_24,outlet_code_1,2023-01-24 08:55:00,172.0,freezers available,Fruit Chewy Bites,7,2023-01-24,08:55:00
4,distributor_24,outlet_code_1,2023-02-04 09:53:00,59.0,freezers available,Fruit Chewy Bites,5,2023-02-04,09:53:00

In [14]:

Distout_sale_data=Distributor_Sales.groupby(["distributor_id","outlet_id"]) ["sales_quantity"].sum().reset_index()
Distout_sale_data.head()

  distributor_id         outlet_id  sales_quantity
0  distributor_1  outlet_code_1008             444
1  distributor_1  outlet_code_1061             116
2  distributor_1  outlet_code_1081             105
3  distributor_1  outlet_code_1132             475
4  distributor_1  outlet_code_1133             366

In [15]:
Prob_dist=Distout_sale_data.groupby(["distributor_id"])["sales_quantity"].sum().reset_index()
Prob_dist

    distributor_id  sales_quantity
0    distributor_1           33968
1   distributor_10           90854
2   distributor_11          221664
3   distributor_12           92132
4   distributor_13           96795
5   distributor_14          242570
6   distributor_15           86151
7   distributor_16          214731
8   distributor_17           30999
9   distributor_18           31053
10  distributor_19           94901
11   distributor_2           38858
12  distributor_20           90270
13  distributor_21           32528
14  distributor_22           38612
15  distributor_23           86808
16  distributor_24           91512
17  distributor_25          248883
18   distributor_3          103674
19   distributor_4          230091
20   distributor_5           93286
21   distributor_6           31974
22   distributor_7           30601
23   distributor_8           87785
24   distributor_9           78290

In [16]:
Prob_dist["probability"]=Prob_dist["sales_quantity"]/(Prob_dist["sales_quantity"].sum())

In [17]:
Prob_dist.head()

   distributor_id  sales_quantity  probability
0   distributor_1           33968     0.013485
1  distributor_10           90854     0.036068
2  distributor_11          221664     0.087997
3  distributor_12           92132     0.036575
4  distributor_13           96795     0.038426

In [18]:
Prob_dist["salestarget"]=Prob_dist["probability"]*547575
Prob_dist.head()

   distributor_id  sales_quantity  probability   salestarget
0   distributor_1           33968     0.013485   7383.922763
1  distributor_10           90854     0.036068  19749.732651
2  distributor_11          221664     0.087997  48185.052263
3  distributor_12           92132     0.036575  20027.542745
4  distributor_13           96795     0.038426  21041.180046

In [19]:
data={"distributor_id":Prob_dist["distributor_id"],"salestarget":Prob_dist["salestarget"]}

In [20]:
#sales target for every distributor

dist_sale_target=pd.DataFrame(data)
dist_sale_target
dist_sale_target.sort_values(by="distributor_id",inplace=True)

In [21]:
#change data frame for csv
dist_sale_target.to_csv("dist_sale_target.csv")